@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* ROOT VAR */
:root {
	--defaultFontSize: 15px;
	--defaultColor: #262626;
	--defaultWeight: 500;
	--tc01: #565656;
	--tc02: #969696;
	--bg01: #E9E9E9;
	--bg02: #F8F8F8;
	--bd01: #C6C6C6;
	--bd02: #E6E6E6;
	--ac01: #B60005;
	--ec01: blue;
	--error: #B60005;
	--rgba: 182,0,5;
	--url: url("../images/common/logo_dyb.svg");
}
.creo {
	--ac01: #2F3055;
	--rgba: 0,117,193;
	--url: url("../images/common/logo_creo.svg");
}
.lanpus {
	--ac01: #155751;
	--url: url("../images/common/logo_lanpus.svg");
}
.mata {
	--ac01: #0075C2;
	--url: url("../images/common/logo_mata.svg");
}

/* 레이아웃 */
:root {
	--wrapWidth: 768px;
	--headerHeight: 48px;
	--footerBtnHeight: 64px;
	--sp: 40px;
	--br: 8px;
	--100vh: calc(var(--vh, 1vh) * 100);
}
/* :has(#landing) { */
	:root {
		:has(#landing) {
		--headerHeight: 56px;
		--footerBtnHeight: 80px;
	}
}
@media only all and (max-width: 760px) {/* 모바일 사이드 여백 */
	:root {
		--sp: 16px;
	}
}
@media only all and (max-width: 360px) {/* 작은 모바일 사이드 여백 */
	:root {
		--outerPadding: 10px;
	}
}

/*********** RESET
	user-drag: none; 드래그 방지
	user-select: none; 선택 방지(드래그방지와 같이 사용)
	pointer-events: none; 링크방지
	https://m.blog.naver.com/jjjhyeok/20150781593 모바일웹 기본 링크 스타일과 선택 동작 없애기
	글자 단위로 바꿀시 word-break: break-all
	단어 단위로 바꿀시 word-break: keep-all
***********/
::selection {background: rgba(var(--rgba),0.5); color: #fff;}
html {-webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  text-size-adjust: none; font-size: 100.0%;}
body {min-width: 320px; text-size-adjust: none;}
html, body ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,div ,p ,blockquote ,pre ,code ,address ,ul ,ol ,li ,menu ,dl ,dt ,dd ,table ,thead ,tbody ,tfoot , label, caption, th ,td ,form ,fieldset ,legend ,hr ,input ,button ,textarea ,object ,figcaption {margin: 0; padding: 0; vertical-align: baseline;}
header, section ,nav , footer ,aside ,article ,figure , main {margin: 0; padding: 0; display: block;}

/* FONT */
body, input, select, textarea, button {font: normal var(--defaultFontSize) / 1.4 "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; color: var(--defaultColor); font-weight: var(--defaultWeight); letter-spacing: -0.4px;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: var(--defaultWeight);}
input, select, textarea, button {font-size: 100%; font-weight: var(--defaultWeight);}
a {text-decoration: none; vertical-align: baseline; cursor: pointer;}
a:link, a:visited {color: var(--defaultColor);}
a:active, a:hover,  a:focus {color: var(--ac01); outline: 0; transition: all 0.2s; }
.keepAll {word-break: keep-all;}

/*  */
.mBr {display: none;}
.tBr {display: none;}
.wShow {display: block;}
.tShow {display: none;}
.mShow {display: none;}
.wShow.tShow {display: block;}
.tShow.mShow {display: none;}
@media (max-width: 1500px) {/* 작은 모니터 font-size 15px */
	html {font-size: 93.75%;}
}
@media only all and (max-width: 1360px) {/* 태블릿 */
	.wBr {display: none;}
	.tBr {display: block !important;}
	.tBlock {display: block;}
	.wShow {display: none;}
	.tShow {display: block;}
	.mShow {display: none;}
	.wShow.tShow {display: block;}
	.tShow.mShow {display: block;}
	.tNone {display: none;}
	#tabletCheck {display: none;}
}
@media (max-width: 760px) {/* 모바일 font-size 16px */
	body {/* word-break: break-all; */}
	.mBr {display: block;}
	.mBlock {display: block;}
	.wShow {display: none;}
	.tShow {display: none;}
	.mShow {display: block;}
	.wShow.tShow {display: none;}
	.tShow.mShow {display: block;}
	.mNone {display: none;}
	#mobileCheck {display: none;}
}

/* 정렬, STYLE */
address, caption, cite, code, dfn, th, var, em, strong, i {font-style: normal; font-weight: normal;}
ul, ol, li, dir, menu {list-style: none;}
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table, svg {border: none;}
/* table {width: 100%; border-spacing: 0; border-collapse: collapse;  table-layout: fixed; !* 테이블 넓이값 고정 *!} */
table {width: 100%; border-spacing: 0; border-collapse: collapse;  table-layout: fixed;}
caption, th, td {text-align: left; vertical-align: middle;}
label, img, input, select, textarea, button, svg {vertical-align: middle;}

/* 숨김 */
.skip, .skipMenu {position: absolute; top: 0; left: 0; text-indent: -9999px; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; visibility: hidden;}
.hide, caption, legend {visibility: hidden; line-height: 0; font-size: 1px; overflow: hidden;}
.none, hr {display: none;}

/* ELLIPSIS */
.ellipsis {overflow: hidden; white-space: nowrap; word-break: break-all; text-overflow: ellipsis;}
.ellipsisMultiline {overflow: hidden; white-space: normal; word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.ellipsisMultiline.two {-webkit-line-clamp: 2;}
.ellipsisMultiline.three {-webkit-line-clamp: 3;}
.ellipsisMultiline.four {-webkit-line-clamp: 4;}
.ellipsisMultiline.five {-webkit-line-clamp: 5;}

/* ALIGN */
.alignLeft {text-align: left;}
.alignCenter {text-align: center;}
.alignRight {text-align: right;}
.alignTop {vertical-align: top;}
.alignMiddle {vertical-align: middle;}
.alignBottom {vertical-align: bottom;}

/* COLOR */
.colorBk {color: #000 !important;}
.activeColor {color:var(--ac01);} /* ACTIVE COLOR */
.activeBg {background-color:var(--ac01);} /* ACTIVE BG */

/* PADDING MARGIN */
.pdb0{padding-bottom:0px !important;}.pdb1{padding-bottom:1px !important;}.pdb2{padding-bottom:2px !important;}.pdb3{padding-bottom:3px !important;}.pdb4{padding-bottom:4px !important;}.pdb5{padding-bottom:5px !important;}.pdb6{padding-bottom:6px !important;}.pdb7{padding-bottom:7px !important;}.pdb8{padding-bottom:8px !important;}.pdb9{padding-bottom:9px !important;}.pdb10{padding-bottom:10px !important;}.pdb11{padding-bottom:11px !important;}.pdb12{padding-bottom:12px !important;}.pdb13{padding-bottom:13px !important;}.pdb14{padding-bottom:14px !important;}.pdb15{padding-bottom:15px !important;}.pdb16{padding-bottom:16px !important;}.pdb17{padding-bottom:17px !important;}.pdb18{padding-bottom:18px !important;}.pdb19{padding-bottom:19px !important;}.pdb20{padding-bottom:20px !important;}.pdb25{padding-bottom:25px !important;}.pdb30{padding-bottom:30px !important;}.pdb35{padding-bottom:35px !important;}.pdb40{padding-bottom:40px !important;}.pdb45{padding-bottom:45px !important;}.pdb50{padding-bottom:50px !important;}.pdb60{padding-bottom:60px !important;}.pdb70{padding-bottom:70px !important;}.pdb80{padding-bottom:80px !important;}.pdb90{padding-bottom:90px !important;}.pdb100{padding-bottom:100px !important;}
.pdt1{padding-top:1px !important;}.pdt2{padding-top:2px !important;}.pdt3{padding-top:3px !important;}.pdt4{padding-top:4px !important;}.pdt5{padding-top:5px !important;}.pdt6{padding-top:6px !important;}.pdt7{padding-top:7px !important;}.pdt8{padding-top:8px !important;}.pdt9{padding-top:9px !important;}.pdt10{padding-top:10px !important;}.pdt11{padding-top:11px !important;}.pdt12{padding-top:12px !important;}.pdt13{padding-top:13px !important;}.pdt14{padding-top:14px !important;}.pdt15{padding-top:15px !important;}.pdt16{padding-top:16px !important;}.pdt17{padding-top:17px !important;}.pdt18{padding-top:18px !important;}.pdt19{padding-top:19px !important;}.pdt20{padding-top:20px !important;}.pdt25{padding-top:25px !important;}.pdt30{padding-top:30px !important;}.pdt35{padding-top:35px !important;}.pdt40{padding-top:40px !important;}.pdt45{padding-top:45px !important;}.pdt50{padding-top:50px !important;}.pdt60{padding-top:60px !important;}.pdt70{padding-top:70px !important;}.pdt80{padding-top:80px !important;}.pdt90{padding-top:90px !important;}.pdt100{padding-top:100px !important;}
.mgb1{margin-bottom:1px !important;}.mgb2{margin-bottom:2px !important;}.mgb3{margin-bottom:3px !important;}.mgb4{margin-bottom:4px !important;}.mgb5{margin-bottom:5px !important;}.mgb6{margin-bottom:6px !important;}.mgb7{margin-bottom:7px !important;}.mgb8{margin-bottom:8px !important;}.mgb9{margin-bottom:9px !important;}.mgb10{margin-bottom:10px !important;}.mgb11{margin-bottom:11px !important;}.mgb12{margin-bottom:12px !important;}.mgb13{margin-bottom:13px !important;}.mgb14{margin-bottom:14px !important;}.mgb15{margin-bottom:15px !important;}.mgb16{margin-bottom:16px !important;}.mgb17{margin-bottom:17px !important;}.mgb18{margin-bottom:18px !important;}.mgb19{margin-bottom:19px !important;}.mgb20{margin-bottom:20px !important;}.mgb25{margin-bottom:25px !important;}.mgb30{margin-bottom:30px !important;}.mgb35{margin-bottom:35px !important;}.mgb40{margin-bottom:40px !important;}.mgb45{margin-bottom:45px !important;}.mgb50{margin-bottom:50px !important;}.mgb60{margin-bottom:60px !important;}.mgb70{margin-bottom:70px !important;}.mgb80{margin-bottom:80px !important;}.mgb90{margin-bottom:90px !important;}.mgb100{margin-bottom:100px !important;}
.mgt0{margin-top:0px !important;}.mgt1{margin-top:1px !important;}.mgt2{margin-top:2px !important;}.mgt3{margin-top:3px !important;}.mgt4{margin-top:4px !important;}.mgt5{margin-top:5px !important;}.mgt6{margin-top:6px !important;}.mgt7{margin-top:7px !important;}.mgt8{margin-top:8px !important;}.mgt9{margin-top:9px !important;}.mgt10{margin-top:10px !important;}.mgt11{margin-top:11px !important;}.mgt12{margin-top:12px !important;}.mgt13{margin-top:13px !important;}.mgt14{margin-top:14px !important;}.mgt15{margin-top:15px !important;}.mgt16{margin-top:16px !important;}.mgt17{margin-top:17px !important;}.mgt18{margin-top:18px !important;}.mgt19{margin-top:19px !important;}.mgt20{margin-top:20px !important;}.mgt25{margin-top:25px !important;}.mgt30{margin-top:30px !important;}.mgt35{margin-top:35px !important;}.mgt40{margin-top:40px !important;}.mgt45{margin-top:45px !important;}.mgt50{margin-top:50px !important;}.mgt60{margin-top:60px !important;}.mgt70{margin-top:70px !important;}.mgt80{margin-top:80px !important;}.mgt90{margin-top:90px !important;}.mgt100{margin-top:100px !important;}

/* BOLD */
strong {font-weight: 700;}
.strong {font-weight: 700;}
b {font-weight: 700;}
em {font-weight: 600;}
.bold {font-weight: 600;}
.normal {font-weight: var(--defaultWeight);}

a[href^="tel:"] {pointer-events: none; cursor: text;}
@media (max-width: 1024px) {
	a[href^="tel:"] {pointer-events: auto; cursor: pointer;}
}

/* 사파리 css */
@supports (-webkit-touch-callout: none){

}